<b>Version 4.0</b>

FiltaQuilla had to have some necessary changes for Thunderbird 115, especially custom search terms and actions could not be edited anymore. If you find any new problems, related to the update to ESR115, please report them at <a href="https://github.com/RealRaven2000/FiltaQuilla/issues/223"> FiltaQuilla issue 223</a>

If you would like to support FiltaQuilla with donation you can now <a href="https://quickfilters.quickfolders.org/filtaquilla.html#donate">do so here</a>


<b>Improvements</b>
<ul>
<li>Added @FOLDERNAME@  parameter to run program action <a href="https://github.com/RealRaven2000/FiltaQuilla/issues/234">[issue 234]</a></li>
<li>Increased max version to 125.* for beta users</li>
<li>Fixed opening files from filter editor for play sound action. </li>
</ul>

<b>Bug Fixes</b>
<ul>
<li>Archiving action is working again.<a href="https://github.com/RealRaven2000/FiltaQuilla/issues/241">[issue 241]</a></li>
<li>Repaired tag by thread (Thunderbird renamed function GetThreadContainingMsgHdr)</li>
<li>replace deprecated  Components.utils.import with ChromeUtils.import. Future work should switch it to an ES module and use ChromeUtils.importESModule. </li>
<li>Reading files (beta 122): replace deprecated FileUtils.getFile with IOUtils. See [Bug 920187]</li>
</ul>

<b>Miscellaneus / Code Modernisation</b>
<ul>
<li>Replaced deprecated Components.utils.import with ChromeUtils.import</li>
<li>Use globalThis.Services where it is present</li>
</ul>

<strong>Support My Work</strong>

As I am often asked about added features for filter conditions and actions for my Add-on <a href="https://addons.thunderbird.net/addon/quickfilters/">quickFilters</a> - FiltaQuilla is a better location for extending Filter behavior - specifically adding new types of Actions and Conditions. 

If you want to <b>support the FiltaQuilla project</b>, please install quickFilters and 
<strong>purchase a <a href="https://quickfilters.quickfolders.org/premium.html">quickFilters Pro</a> license.</strong>

You can now also <a href="https://quickfilters.quickfolders.org/filtaquilla.html#donate">donate directly here</a>.





